<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление товара</title>
</head>
<body>

<h3>Добавление товара</h3>

<!--//Создаем форму с отправкой данных методом POST по url-адресу:/admin/product/add-->
<!--и привязываем объект ${product} к форме. В контроллере сразу сможем извлеч целый объект-->
<!--и получить из него поля формы.
enctype="multipart/form-data" указывает, что форма может работать с файлами-->
<form th:method="POST" th:action="@{/admin/product/add}" th:object="${product}" enctype="multipart/form-data">
    <label for="title">Введите наименование товара: </label>
    <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
<!--    //В случае непройденной валидации выводим ошибки-->
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <br>
    <br>
    <label for="description">Введите описание товара: </label>
    <textarea th:field="*{description}" placeholder="Описание товара" id="description"></textarea>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <br>
    <br>
    <label for="price">Введите цену товара: </label>
    <input type="number" th:field="*{price}" placeholder="Цена товара" id="price">
    <div style="color:red" th:if="${#fields.hasErrors('price')}" min="1" step="0.10" th:errors="*{price}"></div>
    <br>
    <br>
    <label for="warehouse">Введите наименование склада: </label>
    <input type="text" th:field="*{warehouse}" placeholder="Склад" id="warehouse">
    <div style="color:red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
    <br>
    <br>
    <label for="category">Выберите категорию товара: </label>
<!-- Выпадающие список категорий товаров. в AdminController мы передавали список категорий товаров из репозитория в это представление-->
    <select name="category" th:field="*{category}" id="category">
<!--Проходимся циклом по списку "category" и записываем в переменную element каждую позицию этого списка -->
        <div th:each="element: ${category}">
            <option th:text="${element.getTitle()}" th:value="${element.getId()}"></option>
        </div>
    </select>
    <div style="color:red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
    <br>
    <br>
    <label for="seller">Введите данные о продавце:</label>
    <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
    <br>
    <br>
    <p style="color: red">Вы можете добавить до 5 фотографий. Первая фотография не должна быть пустой,
        т.к. она будет главной при выводе карточки товара</p>
<!--    Поля для загрузки фотографий -->
    <input type="file" name="file_one">
    <br>
    <input type="file" name="file_two">
    <br>
    <input type="file" name="file_three">
    <br>
    <input type="file" name="file_four">
    <br>
    <input type="file" name="file_five">
    <br>
    <br>
    <input type="submit" value="Добавить">
</form>
<br>
<a href="javascript:history.back()">Назад</a>



</body>
</html>