<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все товары</title>
</head>
<body>
<h3>Просмотр всех товаров</h3>
<hr>

<form method="POST" th:action="@{/logout}">
    <button type="submit">Выйти из личного кабинета</button>
</form>
<hr>
<a href="/admin">Назад в личный кабинет администратора</a>
<br>
<a href="/admin/product/add">Добавить новый товар</a>
<hr>

<div th:each="product : ${products}">
    <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
    <p th:text="'Категория: ' + ${product.getCategory().getTitle()}"></p>
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="100px">
    <br>
    <!--    Ссылка на редактирование товара. Внедряем динамическую переменную в ID и -->
    <!--    потом будем её принимать в контроллере-->
    <a th:href="@{/product/info/{id}(id=${product.getId()})}">Подробная информация о товаре</a>
    <br>
    <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактировать товара</a>
    <br>
    <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удалить товар</a>
    <hr>
    <br>
</div>
</body>
</html>